body {
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 18pt;
}

#header_content {
    font-size: 13pt;
}

#header_logo {
    height: 50%;
    width: 50;
}

.content {
    background-color: white;
    text-align: left;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.projects_table {
    font-weight: 300;
    font-size: 18px;
    padding-left: 50px;
}

li {
    padding-bottom: 20px;
}

#header_menu {
    background-color: white;
}